---
openapi: 3.0.1
info:
  title: Hypertube API
  version: v1
  description: RESTful API with OAuth2 authentication for the Hypertube video platform
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        password:
          tokenUrl: "/oauth/token"
          scopes: {}
security:
- oauth2: []
servers:
- url: https://fractalia.art
  description: Production
- url: http://localhost:3000
  description: Development
paths:
  "/api/v1/comments":
    get:
      summary: List latest comments
      tags:
      - Comments
      security:
      - oauth2: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 1-100 (default 20)
        schema:
          type: integer
      responses:
        '200':
          description: returns paginated comments
    post:
      summary: Post a comment (movie_id in body)
      tags:
      - Comments
      security:
      - oauth2: []
      description: Alternative to POST /movies/:movie_id/comments. The movie_id is
        supplied in the payload; the rest is filled by the server.
      parameters: []
      responses:
        '201':
          description: comment created
        '422':
          description: invalid content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - comment
              properties:
                comment:
                  type: object
                  required:
                  - content
                  - movie_id
                  properties:
                    content:
                      type: string
                      example: Great movie!
                    movie_id:
                      type: integer
                      example: 1
  "/api/v1/movies/{movie_id}/comments":
    parameters:
    - name: movie_id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: List comments for a movie
      tags:
      - Comments
      security:
      - oauth2: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 1-100 (default 20)
        schema:
          type: integer
      responses:
        '200':
          description: returns the movie's comments only
    post:
      summary: Post a comment on a movie
      tags:
      - Comments
      security:
      - oauth2: []
      parameters: []
      responses:
        '201':
          description: comment created
        '422':
          description: invalid content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - comment
              properties:
                comment:
                  type: object
                  required:
                  - content
                  properties:
                    content:
                      type: string
                      example: Great movie!
  "/api/v1/comments/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get a comment
      tags:
      - Comments
      security:
      - oauth2: []
      responses:
        '200':
          description: returns comment
        '404':
          description: comment not found
    patch:
      summary: Update a comment
      tags:
      - Comments
      security:
      - oauth2: []
      parameters: []
      responses:
        '200':
          description: comment updated
        '403':
          description: cannot edit another user's comment
        '422':
          description: invalid update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: object
                  properties:
                    content:
                      type: string
    delete:
      summary: Delete a comment
      tags:
      - Comments
      security:
      - oauth2: []
      responses:
        '204':
          description: comment deleted
        '403':
          description: cannot delete another user's comment
  "/api/v1/movies":
    get:
      summary: List saved movies (local catalog)
      tags:
      - Movies
      description: Public. Browses movies already saved in our DB (everything anyone
        has searched/opened). Pure DB query paginated and filterable. Use /movies/search
        to discover new films.
      parameters:
      - name: query
        in: query
        required: false
        description: matches the title
        schema:
          type: string
      - name: genre
        in: query
        required: false
        schema:
          type: string
      - name: min_year
        in: query
        required: false
        schema:
          type: integer
      - name: max_year
        in: query
        required: false
        schema:
          type: integer
      - name: min_rating
        in: query
        required: false
        schema:
          type: number
      - name: sort
        in: query
        required: false
        description: name | year | rating | popularity
        schema:
          type: string
      - name: order
        in: query
        required: false
        description: asc | desc
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 1-100 (default 20)
        schema:
          type: integer
      responses:
        '200':
          description: filters and paginates the catalog
  "/api/v1/movies/search":
    get:
      summary: Search movies (external sources)
      tags:
      - Movies
      description: Public. Queries the external sources (TMDb + Prowlarr), persists
        each film locally, then sorts/filters/paginates. With no query, returns the
        most popular films.
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: sort
        in: query
        required: false
        description: name | year | rating | genre | popularity
        schema:
          type: string
      - name: order
        in: query
        required: false
        description: asc | desc
        schema:
          type: string
      - name: genre
        in: query
        required: false
        schema:
          type: string
      - name: min_year
        in: query
        required: false
        schema:
          type: integer
      - name: max_year
        in: query
        required: false
        schema:
          type: integer
      - name: min_rating
        in: query
        required: false
        schema:
          type: number
      responses:
        '200':
          description: returns aggregated, persisted movies
  "/api/v1/movies/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get movie details
      tags:
      - Movies
      security:
      - oauth2: []
      responses:
        '200':
          description: returns movie details
        '404':
          description: movie not found
        '401':
          description: unauthorized
  "/api/v1/password":
    post:
      summary: Request a password reset email
      tags:
      - Authentication
      security: []
      description: Sends reset instructions to the email if it is registered. Always
        returns 200 so accounts cannot be enumerated.
      parameters: []
      responses:
        '200':
          description: same response for an unknown email (no enumeration)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                user:
                  type: object
                  required:
                  - email
                  properties:
                    email:
                      type: string
                      example: forgetful@example.com
    patch:
      summary: Set a new password using the reset token
      tags:
      - Authentication
      security: []
      parameters: []
      responses:
        '200':
          description: password reset with a valid token
        '422':
          description: invalid or expired token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                user:
                  type: object
                  required:
                  - reset_password_token
                  - password
                  properties:
                    reset_password_token:
                      type: string
                    password:
                      type: string
                      example: NewPass1!
                    password_confirmation:
                      type: string
                      example: NewPass1!
  "/api/v1/users":
    get:
      summary: List users
      tags:
      - Users
      security:
      - oauth2: []
      responses:
        '200':
          description: returns list of users
        '401':
          description: unauthorized
    post:
      summary: Register a new user
      tags:
      - Users
      security: []
      description: Public endpoint. Creates a new account; no token is required because
        the user does not exist yet. After registering, obtain an access token via
        POST /oauth/token.
      parameters: []
      responses:
        '201':
          description: user created
        '422':
          description: invalid registration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                user:
                  type: object
                  required:
                  - email
                  - username
                  - first_name
                  - last_name
                  - password
                  properties:
                    email:
                      type: string
                      example: ada@example.com
                    username:
                      type: string
                      example: ada_l
                    first_name:
                      type: string
                      example: Ada
                    last_name:
                      type: string
                      example: Lovelace
                    password:
                      type: string
                      example: Password1!
                    preferred_language:
                      type: string
                      example: en
                    profile_picture_url:
                      type: string
                      example: https://example.com/me.png
  "/api/v1/users/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: Get a user
      tags:
      - Users
      security:
      - oauth2: []
      responses:
        '200':
          description: returns user profile
        '404':
          description: user not found
    patch:
      summary: Update a user
      tags:
      - Users
      security:
      - oauth2: []
      parameters: []
      responses:
        '200':
          description: user updated
        '403':
          description: forbidden cannot update another user
        '422':
          description: invalid update
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    username:
                      type: string
                    email:
                      type: string
                    profile_picture_url:
                      type: string
  "/oauth/token":
    post:
      summary: Obtain an access token
      tags:
      - Authentication
      security: []
      description: |
        Exchange credentials for an access token using the OAuth2
        Resource Owner Password Credentials grant.

        Send `grant_type=password` together with the user's `username`
        (their username **or** email) and `password`, plus the
        `client_id`/`client_secret` of a registered OAuth application.

        If you are curious, these are the different grant types:
        `https://github.com/doorkeeper-gem/doorkeeper/blob/main/lib/doorkeeper/grant_flow.rb`

        The response contains an `access_token` to be sent as
        `Authorization: Bearer <token>` on subsequent requests.
      parameters: []
      responses:
        '200':
          description: token issued
        '400':
          description: invalid credentials
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              properties:
                grant_type:
                  type: string
                  example: password
                username:
                  type: string
                  example: ada_l
                  description: Username or email of the user
                password:
                  type: string
                  example: Password1!
                client_id:
                  type: string
                  example: the-application-uid
                client_secret:
                  type: string
                  example: the-application-secret
  "/oauth/revoke":
    post:
      summary: Revoke an access token
      tags:
      - Authentication
      security: []
      description: Revoke a previously issued access token. Used on logout.
      parameters: []
      responses:
        '200':
          description: token revoked
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              - client_id
              - client_secret
              properties:
                token:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
  "/users/auth/{provider}":
    parameters:
    - name: provider
      in: path
      required: true
      schema:
        type: string
        enum:
        - google_oauth2
        - fortytwo
      description: Identity provider to authenticate with
    get:
      summary: Start provider login
      tags:
      - Authentication
      security: []
      description: |
        Point the browser here to begin login with an external provider
        (`google_oauth2` or `forty_two`). The server hands off to the provider's consent screen
        and, after approval, the provider redirects back to the callback below.

        This is a redirect endpoint meant for the browser not an XHR/JSON call.
      responses:
        '302':
          description: redirect to the provider
  "/users/auth/{provider}/callback":
    parameters:
    - name: provider
      in: path
      required: true
      schema:
        type: string
        enum:
        - google_oauth2
        - fortytwo
    get:
      summary: Provider OAuth2 callback
      tags:
      - Authentication
      security: []
      description: |
        The provider redirects here after the user approves access. The server
        provisions (or finds) the matching user, mints an access token, and
        redirects to `FRONTEND_URL/auth/callback#access_token=...&token_type=Bearer`.
        The SPA reads the token from the URL fragment.
      responses:
        '302':
          description: redirect to the SPA with an access token
